.TableauAlertes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    row-gap: 50px;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 200px;
}

.pastille{
    height: 25px;
    width: 25px;
    border-radius: 25px;
}

.green{
    background-color: rgb(8, 144, 8);
    border: solid rgb(8, 144, 8) ;
}

.yellow{
    background-color: rgb(203, 208, 56);
    border: solid rgb(203, 208, 56);
}

.orange{
    background-color: rgb(234, 150, 47);
    border: solid rgb(234, 150, 47);
}

.red{
    background-color: rgb(217, 38, 38);
    border: solid rgb(217, 38, 38);
}

.widgetAlertes{
    height: 175px !important;
    width: 300px !important;
    border-radius: 10px !important;
    background-color: rgba(255, 196, 88, 0.373);
}

.widgetAlertesHeader{
    margin: 5px;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.widgetAlertesBody{
    margin: 5px;
}