#formAuth{
    align-items: center !important;
    justify-content: center !important;
    border: thin solid #FE9C3F !important;
    border-radius: 10px !important;
    padding: 25px !important;
    text-align: center !important;
    margin-top: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
}

#authForm{
    display: grid !important;
    grid-template-columns: 1fr !important;
    row-gap: 20px !important;
    margin-top: 50px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 600px !important;
}

#sumbitBtn{
    border: #FE9C3F solid thin !important;
    border-radius: 5px !important;
    width: 200px !important;
    height: 30px !important;
    margin-left: auto !important;
    margin-right: auto
    
}

#sumbitBtn:hover{
    background-color: #FE9C3F  !important;
}

#sumbitBtn:active{
    background-color: #ff8819  !important;
}

.formDataRow{
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    width: 580px !important;
}

.inputTextForm{
    height: 22px !important;
    justify-content: end !important;
    align-items: center !important;
    border: solid rgb(235, 235, 235) thin !important;
    background-color: rgb(228, 228, 228) !important;
}

.inputTextForm:hover{
    border: solid #FE9C3F thin !important;
}

.inputTextForm:active{
    border: solid white thin !important;
}


.inputComboBoxForm{
    height: 22px !important;
    justify-content: end !important;
    align-items: center !important;
    border: solid rgb(235, 235, 235) thin !important;
    background-color: rgb(228, 228, 228) !important;
}
.inputComboBoxForm:hover{
    border: solid #FE9C3F thin !important;
}

label{
    text-align: right !important;
    padding-right: 10px !important;
}
