.divFicheEncycloAll{
    display: grid;
    object-fit: cover;
    width: 100%;
    min-width: 630px;
    align-items: center;
}
 
.infoAnimal{
    margin-top: 2%;
    margin-bottom: 2%;
}
 
.animal{
    width: 100%;
    border-radius: 0px 0px 0 0;
    object-fit: cover; /* ensure the image covers the entire space without distorting */
    object-position: top; /* center the image */
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
.divGridFicheEncyclo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));    
}
 
.divFicheEncycloAll{
    width: 94%; 
}
.divFicheEncycloAll {
    margin-left: 3%;
    margin-right: 3%;
  }